* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #333;
}

.container {
    margin: auto;
    max-width: 1200px;
    padding: 0 2rem;
    overflow: hidden;
}

.container div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12rem 0;
}

.container div h3 {
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}